<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
	
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Begone denialists and crusties - Climate Change for the rest of us</title>
</head>

	<link rel="stylesheet" href="/site_media/css/organise.css" type="text/css" media="screen" title="no title" charset="utf-8">

{% block style %}
{% endblock %}

<body>
	<h1 id="sitename">
		<a href="/">Organise Serious Change</a>
	</div>

	{% block content %}
	{% endblock %}

	<hr>
	
	<div id="footer">
		<table width="100%">
			<tr>
				<td align="left">
					{% if user.first_name %}
						Logged in as {{user.first_name}}
					{% else %}
						Logged in as {{user.username}}
					{% endif %}
				</td>
				<td align="right">
					<a href="/accounts/logout/">Logout</a>
				</td>
		</table>
	</div>

</body>
</html>