{% extends "base.html" %}

{% block content %}
	
<h2>Email people</h2>

<p>Please be very careful with this, as this page lets you send email to the entire serious change subscriber base.</p>

<p>By default you'll only send a preview email which goes to yourself - when you're happy with the email turn off preview and it will be sent out to the set of people you selected. We only log an email when you send it out for real.</p>

<hr>

{% if message %}
	<h3>{{message}}</h3>
{% endif %}

<form method="POST">
<table width="100%">
	{% for field in form %}
		<tr><td>{{field.label}}</td><td>{{field}} {{field.errors}}</td></tr>
	{% endfor %}
</table>
<input type="submit" value="Send mail"/> (this may take a while...)
</form>

{% endblock %}