{% extends "base.html" %}

{% block content %}
	
<h2>Email campaigns</h2>

<p>Here you can look at previous email campaigns, or you can create a new one.</p>

<hr>

{% if campaign_list %}
<table>
	<tr>
		<th align=center>Subject</th>
		<th align=center>Sender</th>
		<th align=center>Date</th>
	</tr>
	{% for campaign in campaign_list %}
	<tr>
		<td>
			<a href="{{campaign.id}}/">
				<em>"{{campaign.subject}}"</em>
			</a>
		</td>
		<td>{{campaign.sender.username}}</td> 
		<td>{{campaign.date_sent.date}}</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<p>SeriousChange has not yet sent any campaigns.</p>
{% endif %}

<p>To carry out a new mail campaign <a href="compose/">click here</a>.</p>

{% endblock %}