{% extends "base.html" %}

{% block content %}
	
<h1>Message {{email.subject}}</h1>

<p>On {{email.date_sent.date}} at {{email.date_send.time}} {{email.sender.username}} sent this message:</p>


<div class="box">
	<p>Subject: {{email.subject}}</p>
	<p>{{email.body}}
</div>

<p>This message went to {{count}} people, and since then there have been {{new_user_count}} new people sign up.</p>

{% if new_user_count %}
<form method="POST">
	<p><input type="submit" value="Send mail to new users"/> (this may take a while...)</p>
</form>
{% endif %}


<hr>
<p>Return to <a href="/organise/">serious change organise overview</a>...</p>

{% endblock %}