{% extends "base.html" %}

{% block content %}
	
<h2>Message {{email.subject}}</h2>

<p>On {{email.date_sent.date}} at {{email.date_send.time}} {{email.sender.username}} sent this message:</p>

<hr>

<div class="box">
	<p>Subject: {{email.subject}}</p>
	<p>{{email.body}}
</div>

<hr>

<p>This message went to {{count}} people in group "{{region}}", and since then there have been {{new_user_count}} new people sign up.</p>

{% if new_user_count %}
<form method="POST">
	<p><input type="submit" value="Send mail to new users"/> (this may take a while...)</p>
</form>
{% endif %}


{% endblock %}