{% extends "base.html" %}

{% block content %}
	
	
<h2>SeriousChange overview</h2>

<p>Welcome to organise.seriouschange.org.uk. From here you can manage our subscribed interest list, and send emails to them.</p>

<hr>

<div class="signups">
	<h3>Stats</h3>
	<ul>
		<li>Total signups: {{ total.all }}
		<li>New since you last logged in: {{ total.recent }}
		<li>New today: {{ total.today}}
	</ul>
</div>

<hr>

<div class="tasks">
	<h3>Tasks</h3>

	<ul>
		<li><a href="email/">Send email to signed up people</a></li>
	</ul>
</div>

{% endblock %}