<html>
<head>
<style type="text/css">
body {
    font-size: 125%;
    line-height: 1.4;
    font-family: Garamond;
    margin: 0;
    padding: 1em;
    max-width: 28em;
} 
#signup {
    font-size: 125%;
    border-top: solid 1px #333333;
    border-bottom: solid 1px #333333;
}
input {
    font-size: 100%;
}
span.error {
	color: #F00;
}
</style>
<title>Begone denialists and crusties - Climate Change for the rest of us</title>

{% block javascript %}
{% endblock %}


</head>

<body>
	
	{% block content %}
	{% endblock %}
	
</body>
</html>