{% extends "base_signup.html" %}

{% block content %}
	
<h1 id="sigh">Sigh.</h1>

<p id="p1">It&#8217;s bloody obvious we need to do something <strong>pretty&nbsp;serious</strong> about climate change, but everyone campaigning on the issue seems so&hellip; <em>hopeless</em>.</p>

<p id="p2">On one side you&#8217;ve got a small cadre of <dfn>over-exposed denialists</dfn> who seem to think that the only way they can show they&#8217;re truly pro-business is by doing what a good business leader would never do &#8212; ignoring the evidence and increasing their business risks.</p>

<p id="p3">And on the other you&#8217;ve got <dfn>chippy crusties</dfn> who rejoice at the idea everyone might have to live crapper, more poverty stricken lives, just to Bring Them All Down To Size.</p>

<div id="p4outer">
  <div id="p4inner">
    
  <p>What about those of us who are <em>excited</em> precisely because the fight against climate change can help us <em>push</em> our economy, our democracy and lifestyles truly <em>into the 21st century</em>?</p>
  
  <p>Those of us who want our lives to run on renewable power not just to save the planet, but because we&#8217;ll get to be part of the true Greatest Generation and get loads of <em>cool new stuff</em> in the process.</p>
  </div>
</div>


<div id="p5outer">
  <div id="p5inner">
    <form action="#form" method="post" id="form">
      <p id="p5">Sounds familiar? If that&#8217;s how <em>you feel</em>, put your details down here. And together we&#8217;ll sort it out.</p>    
      <ol> 
        {% for field in form %}
          <li>
            {% if field.errors %}
              <span class="error">{{ field.errors|join:", " }}</span><br>
            {% endif %}
            {{ field.label_tag }} 
            {{ field }} 
          </li>
        {% endfor %}
      </ol>
      <input type="hidden" name="version" value="pretty"/>
      <input type="submit" class="submit" value="Sign up"/>
    </form>
  </div>
</div>


<div id="faq">
  <h2>FAQ</h2>    
  <em>Who the bejeeps are you and why should I give you my email address?</em>

  <p id="p7">My name is Francis Irving, and you&#8217;re giving your email to Serious Change, a new unincorporated member association. I ran the successful Save Parliament campaign which stopped the UK Government getting slightly more fascist. Now we are going to stop climate change. Except <strong>without the crusties and anti-scientists</strong>, our civilisation is too precious to leave this to them.</p>

  <p id="p8">I&#8217;m going to use your email to ask for your help to run this thing, and you&#8217;ll be able to unsubscribe at any time. The postcode is so we can later form local groups to really make things happen.</p>

  <p>Just email me (<a href="mailto:francis@seriouschange.org.uk">francis@seriouschange.org.uk</a>) if you want to know more.</p>
</div>



{% endblock %}
