{% extends "base_signup.html" %}

{% block script %}
<script type="text/javascript" src="/site_media/jquery-1.2.6.min.js"></script>

<script>
	
function update_form()
{
	if ($("input#id_non_resident").attr("checked"))
	{
		$("#id_country").parent().show();
		$("#id_postcode").parent().hide();
	}
	else
	{
		$("#id_country").parent().hide();
		$("#id_postcode").parent().show();
	}
}
	
$(document).ready(function()
	{
		// the temptation here is to use changed rather than click,
		// but IE doesn't work with that
		$("input#id_non_resident").unbind('click').click(update_form);
		update_form();
	}
);
</script>
{% endblock %}


{% block content %}
	
<table width="100%" border="0">
	<tr>
		<td align="left">
			<h1 id="sigh">Serious<br>Change</h1>
		</td>
		<td>
				<object width="325" height="244" id="video">
		<param name="movie"
		 	value="http://www.youtube.com/v/20dsve4-DSI&hl=en&fs=1">
		</param>
		<param name="allowFullScreen" value="true"></param>
		<param name="allowscriptaccess" value="always"></param>
		<embed src="http://www.youtube.com/v/20dsve4-DSI&hl=en&fs=1" 
			type="application/x-shockwave-flash" 
			allowscriptaccess="always" 
			allowfullscreen="true" 
			width="325" height="244">		
		</embed>
	</object>
		</td>
</table>

<p id="p1">It&#8217;s <strong>very clear</strong> to everyone now that we need to do something to prevent climate change. But what do we do?</p> 

<p id="p2">To one side we're being told that so long as we change to energy saving light bulbs and turn off our phone chargers we'll be okay - a nice start, but we need more than that. On the other side we've got people who think we need to end our current civilisation as we know it - no more travel, no more enjoyable goods, no more communication - this can't be a good idea. Add to that the current global financial crisis - surely we can't manage all of this at once?</p>


<p id="p11">But that's exactly what we're campaigning for - SERIOUS CHANGE that will both save the climate, our lifestyles, and <strong>the economy</strong>!</p>

<p id="p3">To keep the civilisation we've built, we need a secure climate to live in and secure energy to power everything around us. We need solutions that add up, and actions to be taken <strong>now</strong>. Whilst personal actions are good, it requires <strong>governmental action</strong> to provide the economic environment to make this work, and to kick start the low-carbon economy in this country. Then the private sector can get to creating new solutions (thus creating much needed jobs).
</p>

<div id="p4outer">
  <div id="p4inner">
    
  <!--<p>By taking a lead in becoming a low-carbon economy we'll be securing our country's future, both for ourselves and for future generations home and abroad.</p>-->
	<p>By taking a lead in becoming a low-carbon economy we'll be securing our country's future.</p>
  
  <p>That's why we've set up SERIOUS CHANGE - to provide pressure to make sure that government does not ignore the issues, the evidence, and the advice out there. We want the government to focus on a low-carbon agenda as both a way to <strong>solve our environmental plight tomorrow and our economical plight today</strong>	.</p>
  </div>
</div>


<div id="p5outer">
  <div id="p5inner">
    <form action="#form" method="post" id="form">
      <p id="p5">By signing up, you can help:
		<ul class="reasonlist">
<li>Your details allow us to show the political parties that people do care about this issue and expect them to care too.</li>

<li>We'll keep you informed of what SERIOUS CHANGE is going, and ask you to get involved where you can.</li></ul></p>
      <ol> 
        {% for field in form %}
          <li>
            {% if field.errors %}
              <span class="error">{{ field.errors|join:", " }}</span><br>
            {% endif %}
            {{ field.label_tag }} 
            {{ field }} 
          </li>
        {% endfor %}
      </ol>
      <input type="hidden" name="version" value="pretty_with_country"/>
      <input type="submit" class="submit" value="Sign up"/>
    </form>
  </div>
</div>


<div id="faq">
  <h2>FAQ</h2>    

  <em>Who the bejeeps are you and why should I give you my email address?</em>

  <p id="p7">You’re giving your email to Serious Change, a new unincorporated member association (read our <a href="http://wiki.seriouschange.org.uk/Statement_of_beliefs">statement of beliefs</a>). The founders of Serious Change ran a successful campaign against the Legislative and Regulatory Reform Bill in 2006. Now we are going to stop climate change.</p>
	
  <p>Just email us (<a href="mailto:hello@seriouschange.org.uk">hello@seriouschange.org.uk</a>) if you want to know more.</p>
</div> 



{% endblock %}
