{% extends "base_signup.html" %}

{% block content %}
	
<p><strong>Thank you</strong> - we'll get back in touch.
	
	
<p><a href="mailto:?subject={{email_subject|urlencode}}&body={{email_body|urlencode}}">Click here to open a new email and invite your friends, family and colleagues to get involved.</a></p>

<p>Email me francis@seriouschange.org.uk if you have something to say.
	
<table>
	<tr>
		<td>
			<script>function fbs_click() {u='http://www.seriouschange.org.uk/';t=document.title;window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}</script><style> html .fb_share_link { padding:2px 0 0 20px; height:16px; background:url(http://static.ak.fbcdn.net/images/share/facebook_share_icon.gif?2:26981) no-repeat top left; }</style><a href="http://www.facebook.com/share.php?u=<url>" onclick="return fbs_click()" target="_blank" class="fb_share_link">Share on Facebook</a>
		</td>
		<td>
			<script>function bebo_click() {u='http://www.seriouschange.org.uk/';t=document.title;window.open('http://www.bebo.com/c/share?Url='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}</script><style> html .b_share_link { padding:2px 0 0 20px; height:16px; background:url(http://s.bebo.com/img/bebo_b_16x16.gif) no-repeat top left; }</style><a href="http://www.bebo.com/c/share?Url=<url>" onclick="return bebo_click()" target="_blank" class="b_share_link">Share on Bebo</a>
		</td>
	</tr>
</table>

	
	
	
{% endblock %}